a,a:visited {color:darkblue;}

body {margin: 0;}

h1,h2,h3,h4{
	margin:0;
	padding:0;
}

h1{
	color:#666666;
	font-size:25px;
}


h2{
	border:1px solid #888;
	border-width:0 0 1px 0;
	color:#888;
	font-size:18px;
	margin:30px 0 0 0;
}

code{
	clear:both;
	color:#DD0000;
	display:block;
}

code .highListAttribute{
	color:blue;
	font-weight:bold;
}

.wrap {
	margin: 0 150px;
	font-family: verdana, helvetica;
}

.page { padding: 5;}

.footer {
	text-align: center;
	font-size: small;
}

.warning{
	border:1px dotted #CC0000;
	border-width:1px 0;
	color:#CC0000;
	margin:10px 0;
	padding: 10px;
	text-align:center;
}

.topNav, .topNav a{
	color:black;
	font-size:11px;
}

.userrole{
	border:1px dotted green;
	border-width:1px 0;
	color:green;
	font-size:11px;
	margin:40px 0;	
	padding:3px 0;	
}
.userrole a{
	color:green;	
}

dt,dd{font-size:12px;}

dt{
	color:#DD0000;
}
dd{
	color:#666666;
	margin:0 0 5px 0;
}